body {
    background-color: grey;
  }
p.shout {
    color: rgb(130, 65, 250);
    font-family: courier;
    font-size: 300%;
    font-weight: bold;
  }
p.shout2 {
    color: whitesmoke;
    font-family: courier;
    font-weight: bold;
  }
p.shout3 {
    color: rgb(130, 65, 250);
    font-family: courier;
    font-size: 200%;
    font-weight: bold;
  }
p {
    color: whitesmoke;
}

li {
    color: whitesmoke;
}

td {
    color: whitesmoke;
}

dt {
    color: yellow;
    font-size: 80%;
}
dd {
  color: whitesmoke;
    font-size: 80%;
}
  .awesome { color:blue}

a:link {
    color: #FF0000;
  }
a:visited{
    color: #ff0000;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: white;
}
p.intro::first-letter {
  color: #00ff2a;
  font-size: 200%;
} 